body {
  @include roboto;

  color: #8d96bd;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  line-height: 1;
  white-space: nowrap;
}

.section-outer {
  border-bottom: 1px solid $color-divider;
}

.section-inner {
  max-width: 900px;
  margin: 0 auto;
  padding-top: $padding-vertical;
  padding-bottom: $padding-vertical;

  &--wide {
    max-width: 1200px;
  }
}

.btn {
  @include quicksand;

  padding: $base * 3 $base * 4;
  margin: 0;
  font-size: $fs-sm;
  font-weight: $fw-bold;
  text-decoration: none;
  background: none;
  border: 1px solid transparent;
  border-radius: 2px;
  text-align: center;
  line-height: 1;
  transition: $transition-fast;

  &--primary {
    color: #3a79ff;
    background-color: #d2e1ff;

    &:hover {
      background-color: darken(#d2e1ff, 5%);
    }
  }

  &--secondary {
    color: #fff;
    background-color: #4c85ff;

    &:hover {
      background-color: darken(#4c85ff, 5%);
    }
  }

  &--no-bg {
    color: #adb4d2;
    border: 1px solid #d1d1e4;

    &:hover {
      color: darken(#adb4d2, 10%);
      border: 1px solid darken(#d1d1e4, 10%);
    }
  }

  &--danger {
    color: $color-red;
    background-color: $color-pink;

    &:hover {
      background-color: darken($color-pink, 5%);
    }
  }

  &--grayscale {
    background-color: #e8ecf4;
    font-weight: 500;
    font-size: 13px;
    color: #7382a3;

    &:hover {
      background-color: darken(#e8ecf4, 5%);
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include quicksand;
  padding: 0;
  margin: 0;
  font-weight: $fw-regular;
  color: #3d4f9f;
}

h1,
h2 {
  margin-bottom: $base * 7;
  font-size: 48px;
}

h3 {
  margin-bottom: $base * 7;
  font-size: 36px;
}

h4 {
  margin-bottom: $base * 23;
  font-size: 24px;
  font-weight: $fw-medium;
}

h5 {
  @include roboto;

  margin-bottom: $base * 4;
  font-size: 10px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.ta-c {
  text-align: center;
}

.dots {
  @include list-null;

  display: flex;
  justify-content: center;

  &__item {
    width: $base * 2;
    height: $base * 2;
    cursor: pointer;
    background-color: #d1d6e3;
    border-radius: 100%;
    transition: $transition-fast;

    &--active {
      background-color: #5283ff;
    }

    & + & {
      margin-left: $base * 3;
    }
  }
}

// glue two buttons together
.btn-group {
  display: inline-flex;

  .btn:nth-child(1) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .btn:nth-child(2) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
