// COLORS
$color-primary: #697ca6;
$color-secondary: #6188ff;
$color-title: #3d4f9f;
$color-white: #fff;
$color-red: #d43f3f;
$color-pink: #ffd7d7;
$color-divider: #d8e3fe;
$color-bg: #f1f5ff;
// END COLORS

$base: 4px;

// === FONT WEIGHT ===
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;
// === / FONT WEIGHT ===

// === FONT SIZE ===
$fs-xxs: 11px;
$fs-xs: 12px;
$fs-sm: 15px;
$fs-md: 18px;
$fs-lg: 24px;
$fs-xl: 36px;
$fs-xxl: 48px;
// === / FONT SIZE ===

// === WHITE SPACE ===
$padding-vertical-xs: $base * 5;
$padding-vertical-sm: $base * 15;
$padding-vertical-md: $base * 22;
$padding-vertical: $base * 30;
$padding-vertical-lg: $base * 44;
// === / WHITE SPACE ===

// === TRANSITION ===
$transition-fast: 0.2s;
$transition-medium: 0.5s;
// === / TRANSITION ===

// === BREAKPOINTS ===
// $breakpoint-xs-min: 0;
$breakpoint-sm-min: 576px;
$breakpoint-xs-max: $breakpoint-sm-min - 1px;
$breakpoint-md-min: 768px;
$breakpoint-sm-max: $breakpoint-md-min - 1px;
$breakpoint-lg-min: 992px;
$breakpoint-md-max: $breakpoint-lg-min - 1px;
$breakpoint-xl-min: 1200px;
$breakpoint-lg-max: $breakpoint-xl-min - 1px;
$breakpoint-xxl-min: 1400px;
$breakpoint-xl-max: $breakpoint-xxl-min - 1px;
// === / BREAKPOINTS ===
